/.vs
AnagramGenerator.DataAccess/obj
AnagramGenerator.DataAccess/bin
AnagramGenerator.EF.CodeFirst/obj
AnagramGenerator.EF.CodeFirst/bin
AnagramGenerator.EF.DatabaseFirst/obj
AnagramGenerator.EF.DatabaseFirst/bin
AnagramGenerator.HttpRequest/obj
AnagramGenerator.HttpRequest/bin
AnagramGenerator.Implementations/obj
AnagramGenerator.Implementations/bin
AnagramGenerator.Sql/obj
AnagramGenerator.Sql/bin
AnagramGenerator.Tests/obj
AnagramGenerator.Tests/bin
AnagramGenerator.WebApp/obj
AnagramGenerator.WebApp/bin
Interfaces.AnagramSolver/obj
Interfaces.AnagramSolver/bin
MainApp/obj
MainApp/bin