/.vs
AnagramGenerator.DataAccess/obj
AnagramGenerator.DataAccess/bin
AnagramGenerator.EntityFramework/obj
AnagramGenerator.EntityFramework/bin
AnagramGenerator.HttpRequest/obj
AnagramGenerator.HttpRequest/bin
AnagramGenerator.Implementations/obj
AnagramGenerator.Implementations/bin
AnagramGenerator.Sql/obj
AnagramGenerator.Sql/bin
AnagramGenerator.WebApp/obj
AnagramGenerator.WebApp/bin
Interfaces.AnagramSolver/obj
Interfaces.AnagramSolver/bin
MainApp/obj
MainApp/bin