@model AnagramList

    <ol>
        <font size="6">
            @if (Model.Anagrams.Any())
            {
                foreach (var anagram in Model.Anagrams)
                {
                    <il>@anagram</il>
                    <br />
                }
            }
        </font>
        <ol>


<h3>@ViewBag.Message</h3>
