/.vs
AnagramGenerator.Tests/obj
AnagramGenerator.Tests/bin
Implementation.AnagramSolver/bin
Implementation.AnagramSolver/obj
Interfaces.AnagramSolver/bin
Interfaces.AnagramSolver/obj
AnagramGenerator.WebApp/bin
AnagramGenerator.WebApp/obj
HttpRequest/obj
HttpRequest/bin
AnagramGenerator.Sql/obj
AnagramGenerator.Sql/bin


